:root {
    --small-margin: 5px;
    --text-color: #fff;
    --radius-small: 10px;
    --radius-normal: 20px;
}

@font-face {
    font-family: 'SF Pro';
    src: url('https://1dontgiveaf.github.io/ns/fonts/SF-Pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html,
body {
    overflow-x: hidden;
    overflow-y: auto;
    touch-action: pan-y;
    -webkit-overflow-scrolling: touch;
}

body {
    width: 100%;
    margin: 0;
    background: rgb(0, 5, 0);
    color: var(--text-color);
    padding: 75px 0px;
    padding-bottom: 100px;
    font-family: 'SF Pro', -apple-system, 'Inter', system-ui, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body::-webkit-scrollbar {
    height: 6px;
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: rgb(40, 40, 40);
}

body::-webkit-scrollbar-thumb {
    background: rgb(50, 50, 50);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.fontbig {
    font-size: clamp(2rem, calc(2rem + 1.25vw), 4rem);
}

.fontsmall {
    font-size: clamp(1rem, calc(1rem + 0.5vw), 1.875rem);
}

h1,
h2 {
    line-height: 1.3;
    margin: 0px;
}

h2 {
    line-height: 1;
}

p {
    line-height: 1.5;
    margin: 5px 0;
}

footer {
    position: fixed;
    padding: 10px 10px;
    margin: 0px 20px;
    text-align: center;
    background: rgb(0, 5, 0);
    border-radius: var(--radius-normal);
    border: 1px solid rgb(50, 50, 50);
    bottom: 20px;
    box-sizing: border-box;
    opacity: 0.3;
    transition: opacity 0.3s ease;
    z-index: 9999;
}

footer:hover {
    opacity: 1;
}

footer p {
    margin: 0;
}

button {
    background-color: #3a772d;
    color: var(--text-color);
    flex: 0;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: var(--radius-small);
    transition: filter 0.2s ease;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.button--get {
    background-color: rgb(175, 45, 45);
    margin-top: 20px;
}

.button--delta {
    background-color: rgb(127, 124, 255);
}

.button--arceus {
    background-color: rgb(153, 153, 153);
}

button:hover {
    filter: brightness(0.6);
}

.container,
.container2,
.botcontainer,
.botcontainer2,
.scriptscontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

/* containers */

.container {
    flex-direction: column;
}

.container2 {
    flex-direction: row;
    flex-wrap: wrap;
}

/* bottom containers */

.botcontainer {
    position: absolute;
    flex-direction: column;
    bottom: 20px;
}

.botcontainer2 {
    position: absolute;
    flex-direction: row;
    width: 100%;
    left: 0;
    bottom: 20px;
}

/* other */

.scriptscontainer {
    position: absolute;
    padding: 0px 25px;
    bottom: 20px;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    left: 0;
}

/* home top */

.con--center {
    height: 100vh;
}

.con--center::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg,
            rgba(58, 119, 45, 0.5) 0%,
            rgba(0, 5, 0, 0) 50%);
    animation: fadeOpacity 2s infinite ease-in-out alternate;
    content: "";
    pointer-events: none;
}

@keyframes fadeOpacity {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

/* home middle */

.con--grad {
    box-sizing: border-box;
    padding: 30vh 100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background: linear-gradient(0deg,
            rgba(0, 5, 0, 0) 0%,
            rgba(255, 45, 45, 0.4) 50%,
            rgba(0, 5, 0, 0) 100%);
}

.con--grad h1 {
    letter-spacing: 1px;
}

.item {
    position: relative;
    background: rgb(0, 5, 0);
    width: 300px;
    min-height: 200px;
    padding: 25px;
    margin: 20px;
    border: 1px solid rgb(50, 50, 50);
    border-radius: var(--radius-normal);
    box-shadow: 0px 0px 20px rgb(40, 40, 40);
    box-sizing: border-box;
    flex: 1 1 280px;
}

.textbox {
    background: #1e1e1e;
    color: var(--text-color);
    width: calc(100% - 25px);
    border: 1px solid rgb(50, 50, 50);
    border-radius: var(--radius-small);
    padding: 10px 10px;
}

#socials {
    opacity: 0;
    transform: translateY(30px);
    transition: transform 0.5s cubic-bezier(0.42, 0, 0.58, 1), opacity 0.5s ease-out;
}

#socials.visible {
    opacity: 1;
    transform: translateY(0);
}

/* etc */

.topbar {
    position: fixed;
    width: 100%;
    background: rgba(0, 5, 0, 0.3);
    overflow-x: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9998;
    padding: 20px 20px;
    backdrop-filter: blur(30px);
    border-bottom: 1px solid rgb(50, 50, 50);
    box-sizing: border-box;
    top: 0;
    left: 0;
}

.title {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-left: 10px;
    font-weight: bolder;
    letter-spacing: 1px;
}

.title img {
    width: auto;
    height: 30px;
    margin-right: 10px;
}

.tabs {
    display: unset;
}

.tabs a {
    color: var(--text-color);
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.tabs a:hover {
    text-decoration: underline;
}

.tabs.active {
    font-weight: 900;
}

.hamburger {
    display: none;
    cursor: pointer;
    width: 30px;
    height: 24px;
    position: relative;
    z-index: 1000;
}

.hamburger span {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background: #ffffff;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    transition: transform 0.25s ease-in-out, top 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.hamburger span:nth-child(1) {
    top: 0px;
}

.hamburger span:nth-child(2) {
    top: 10px;
}

.hamburger span:nth-child(3) {
    top: 20px;
}

.hamburger.open span:nth-child(1) {
    top: 10px;
    transform: rotate(135deg);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    top: 10px;
    transform: rotate(-135deg);
}

.menu {
    position: fixed;
    background: rgba(0, 5, 0, 0.3);
    width: 200px;
    backdrop-filter: blur(30px);
    padding: 10px 10px;
    border: 1px solid rgb(50, 50, 50);
    border-radius: var(--radius-normal);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0s;
    z-index: 9999;
    top: 55px;
    right: 10px;
    visibility: hidden;
}

.menu a {
    display: block;
    color: white;
    text-decoration: none;
}

.menu.open {
    opacity: 1;
    transition: opacity 0.3s ease, visibility 0s;
    visibility: visible;
}

.tab-item,
.ti-bottom {
    padding: 10px;
    border-bottom: 1px solid rgb(50, 50, 50);
    cursor: pointer;
}

.ti-bottom {
    border: none;
}

@media (max-width: 525px) {
    .tabs {
        display: none;
    }

    .hamburger {
        display: unset;
    }
}

@media (min-width: 525px) {
    .menu {
        visibility: hidden;
    }
}