:root {
    --small-margin: 5px;
    --text-color: #fff;
    --radius-default: 15px;
}

@font-face {
    font-family: 'SF Pro';
    src: url('https://1dontgiveaf.github.io/ns/fonts/SF-Pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html,
body {
    overflow-x: hidden;
    overflow-y: auto;
    touch-action: pan-y;
    -webkit-overflow-scrolling: touch;
}

body {
    width: 100%;
    margin: 0;
    background: linear-gradient(45deg, rgba(0, 20, 0) 0%, rgb(0, 5, 0) 50%);
    color: var(--text-color);
    padding: 85px 0px;
    padding-bottom: 100px;
    font-family: -apple-system, "SF Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body::-webkit-scrollbar {
    height: 6px;
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: rgb(40, 40, 40);
}

body::-webkit-scrollbar-thumb {
    background: rgb(50, 50, 50);
    border-radius: var(--radius-default);
}

body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.fontbig {
    font-size: clamp(2rem, calc(2rem + 1.25vw), 4rem);
}

.fontsmall {
    font-size: clamp(1rem, calc(1rem + 0.5vw), 1.875rem);
}

h1,
h2 {
    line-height: 1.3;
    margin: 0px;
}

h2 {
    line-height: 1;
}

p {
    line-height: 1.5;
    margin: 5px 0;
}

footer {
    position: fixed;
    padding: 10px 10px;
    margin: 0px 20px;
    text-align: center;
    background: rgb(0, 5, 0);
    border-radius: var(--radius-default);
    border: 1px solid rgb(50, 50, 50);
    bottom: 20px;
    box-sizing: border-box;
    opacity: 0.3;
    transition: opacity 0.3s ease;
    z-index: 9999;
}

footer:hover {
    opacity: 1;
}

footer p {
    margin: 0;
}

button {
    background: rgb(25, 60, 25);
    color: var(--text-color);
    flex: 0;
    padding: 15px 25px;
    font-size: 1rem;
    border: none;
    border-radius: var(--radius-default);
    transition: filter 0.2s, transform 0.2s ease;
    cursor: pointer;
}

.button--items {
    width: 100%;
    font-weight: bold;
    padding-top: 0.625rem; /* 10px */
    padding-bottom: 0.625rem; /* 10px */
    padding-left: 1rem; /* 16px */
    padding-right: 1rem; /* 16px */
    border-radius: 0.5rem; /* 8px */
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-top: auto;
    transition: all 0.3s ease;
  }

.button--default {
    border: 1px solid #3a772d;
}

.button--get {
    background-color: rgb(175, 45, 45);
    margin-top: 20px;
}

.button--delta {
    background-color: rgb(127, 124, 255);
}

.button--arceus {
    background-color: rgb(153, 153, 153);
}

button:hover {
    transform: scale(1.05);
    filter: brightness(1.2);
}

.container,
.container2,
.botcontainer,
.botcontainer2,
.scriptscontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

/* containers */

.container {
    flex-direction: column;
}

.container2 {
    flex-direction: row;
    flex-wrap: wrap;
}

/* bottom containers */

.botcontainer {
    margin-top: auto;
    flex-direction: column;
}

.botcontainer2 {
    margin-top: auto;
    flex-direction: row;
    width: 100%;
}

/* other */

.scriptscontainer {
    margin-top: auto;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
}

/* home top */

.con--center {
    height: 100vh;
}

.con--center::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg,
            rgba(58, 119, 45, 0.5) 0%,
            rgba(0, 5, 0, 0) 50%);
    animation: fadeOpacity 2s infinite ease-in-out alternate;
    content: "";
    pointer-events: none;
}

@keyframes fadeOpacity {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

/* home middle */

.con--grad {
    box-sizing: border-box;
    padding: 30vh 100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background: linear-gradient(0deg,
            rgba(0, 5, 0, 0) 0%,
            rgba(255, 45, 45, 0.4) 50%,
            rgba(0, 5, 0, 0) 100%);
}

.con--grad h1 {
    letter-spacing: 1px;
}

.item {
    position: relative;
    background: rgba(0, 5, 0, 0.1);
    width: 300px;
    min-height: 250px;
    padding: 30px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    backdrop-filter: blur(30px);
    border: 1px solid rgb(50, 50, 50);
    border-radius: var(--radius-default);
    box-shadow: 0px 0px 40px rgb(0, 30, 0);
    box-sizing: border-box;
    flex: 1 1 280px;
}

.textbox {
    background: #1e1e1e;
    color: var(--text-color);
    width: calc(100% - 25px);
    border: 1px solid rgb(50, 50, 50);
    border-radius: var(--radius-default);
    padding: 10px 10px;
}

#socials {
    opacity: 0;
    transform: translateY(30px);
    transition: transform 0.5s cubic-bezier(0.42, 0, 0.58, 1), opacity 0.5s ease-out;
}

#socials.visible {
    opacity: 1;
    transform: translateY(0);
}

/* etc */

.topbar {
    position: fixed;
    width: 100%;
    background: rgba(0, 5, 0, 0.3);
    overflow-x: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9998;
    padding: 25px 20px;
    backdrop-filter: blur(30px);
    border-bottom: 1px solid rgb(50, 50, 50);
    box-sizing: border-box;
    top: 0;
    left: 0;
}

.title {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-left: 10px;
    font-weight: bolder;
    letter-spacing: 1px;
}

.title img {
    width: auto;
    height: 30px;
    margin-right: 10px;
}

.tabs {
    display: unset;
}

.tabs a {
    color: var(--text-color);
    text-decoration: none;
    margin: 0px 5px;
    font-size: 16px;
    border-radius: var(--radius-default);
    background: rgba(50, 50, 50, 0.5);
    padding: 10px 15px;
    transition: all 0.3s ease;
}

.tabs a:hover {
    filter: brightness(1.2);
}

.tabs.active {
    font-weight: 600;
    background: rgb(58, 119, 45, 0.3);
}

.hamburger {
    display: none;
    cursor: pointer;
    width: 30px;
    height: 24px;
    position: relative;
    z-index: 1000;
}

.hamburger span {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background: #ffffff;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    transition: transform 0.25s ease-in-out, top 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.hamburger span:nth-child(1) {
    top: 0px;
}

.hamburger span:nth-child(2) {
    top: 10px;
}

.hamburger span:nth-child(3) {
    top: 20px;
}

.hamburger.open span:nth-child(1) {
    top: 10px;
    transform: rotate(135deg);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    top: 10px;
    transform: rotate(-135deg);
}

.menu {
    position: fixed;
    background: rgba(0, 5, 0, 0.3);
    width: 200px;
    backdrop-filter: blur(30px);
    padding: 10px 10px;
    border: 1px solid rgb(50, 50, 50);
    border-radius: var(--radius-default);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0s;
    z-index: 9999;
    top: 55px;
    right: 10px;
    visibility: hidden;
}

.menu a {
    display: block;
    color: white;
    text-decoration: none;
}

.menu.open {
    opacity: 1;
    transition: opacity 0.3s ease, visibility 0s;
    visibility: visible;
}

.tab-item,
.ti-bottom {
    padding: 10px;
    border-bottom: 1px solid rgb(50, 50, 50);
    cursor: pointer;
}

.ti-bottom {
    border: none;
}

@media (max-width: 655px) {
    .tabs {
        display: none;
    }

    .hamburger {
        display: unset;
    }
}

@media (min-width: 655px) {
    .menu {
        visibility: hidden;
    }
}