:root {
    --small-margin: 5px;
    --text-color: #fff;
    --radius-small: 10px;
    --radius-normal: 20px;
}

@font-face {
    font-family: 'SF Pro';
    src: url('https://1dontgiveaf.github.io/ns/fonts/SF-Pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html,
body {
    overflow-x: hidden;
    overflow-y: auto;
    touch-action: pan-y;
    -webkit-overflow-scrolling: touch;
}

body {
    width: 100%;
    margin: 0;
    background: rgb(0, 5, 0);
    color: var(--text-color);
    padding: 75px 0px;
    padding-bottom: 100px;
    font-family: 'SF Pro', -apple-system, 'Inter', system-ui, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body::-webkit-scrollbar {
    height: 6px;
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: rgb(40, 40, 40);
}

body::-webkit-scrollbar-thumb {
    background: rgb(50, 50, 50);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.fontbig {
    font-size: clamp(2rem, calc(2rem + 1.25vw), 4rem);
}

.fontsmall {
    font-size: clamp(1rem, calc(1rem + 0.5vw), 1.875rem);
}

h1 {
    line-height: 1.3;
    margin-bottom: 0;
}

h2 {
    line-height: 1;
    margin: 0px;
}

p {
    line-height: 1.5;
    margin-top: 5px;
    margin-bottom: 5px;
}

footer {
    position: fixed;
    bottom: 20px;
    z-index: 9999;
    padding: 10px 10px;
    margin: 0px 20px;
    text-align: center;
    background: rgb(0, 5, 0);
    border-radius: var(--radius-normal);
    border: 1px solid rgb(50, 50, 50);
    box-sizing: border-box;
    opacity: 0.3;
    transition: opacity 0.3s;
}

footer:hover {
    opacity: 1;
}

footer p {
    line-height: 1.5;
    margin: 0;
}

button {
    background-color: #3a772d;
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    border-radius: var(--radius-small);
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.button--get {
    background-color: rgb(175, 45, 45);
    margin-top: 20px;
    flex: 0;
}

.button--get:hover {
    background-color: rgb(150, 45, 45);
}

.button--delta {
    background-color: rgb(127, 124, 255);
}

.button--delta:hover {
    background-color: rgb(94, 92, 189);
}

.button--arceus {
    background-color: rgb(153, 153, 153);
}

.button--arceus:hover {
    background-color: rgb(120, 120, 120);
}

button:hover {
    background-color: #2b532f;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    box-sizing: border-box;
}

.botcontainer {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    bottom: 20px;
}

.botcontainer2 {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    bottom: 20px;
}

.con--center {
    height: 100vh;
}

.con--center::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        180deg,
        rgba(58, 119, 45, 0.2),
        rgba(0, 5, 0, 0) 70%,
        rgba(0, 5, 0, 0) 100%
    );
    animation: fadeOpacity 2s infinite ease-in-out alternate;
    pointer-events: none;
}

@keyframes fadeOpacity {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.con--grad {
    box-sizing: border-box;
    padding: 30vh 100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background: linear-gradient(0deg,
            rgba(0, 5, 0, 0),
            rgba(175, 45, 45, 0.5),
            rgba(0, 5, 0, 0)
            );
}

.con--grad h1 {
    letter-spacing: 1px;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.scriptscontainer {
    position: absolute;
    left: 0;
    padding: 0px 25px;
    bottom: 20px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
}

.item {
    position: relative;
    width: 300px;
    min-height: 200px;
    flex: 1 1 280px;
    margin: 10px;
    background: rgb(0, 5, 0);
    padding: 25px;
    border-radius: var(--radius-normal);
    border: 1px solid rgb(50, 50, 50);
    box-shadow: 0px 0px 20px rgb(40, 40, 40);
    box-sizing: border-box;
}

.textbox {
    background: #1e1e1e;
    width: calc(100% - 25px);
    color: var(--text-color);
    border: 1px solid rgb(50, 50, 50);
    border-radius: var(--radius-small);
    padding: 10px 10px;
}

#socials {
    opacity: 0;
    transform: translateY(30px);
    transition: transform 0.5s cubic-bezier(0.42, 0, 0.58, 1), opacity 0.5s ease-out;
}

#socials.visible {
    opacity: 1;
    transform: translateY(0);
}

/* etc */

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 5, 0, 0.3);
    overflow-x: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9998;
    padding: 20px 20px;
    backdrop-filter: blur(30px);
    border-bottom: 1px solid rgb(50, 50, 50);
    box-sizing: border-box;
}

.title {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-left: 10px;
    font-weight: bolder;
}

.title img {
    width: auto;
    height: 30px;
    margin-right: 10px;
}

.tabs {
    display: unset;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background: #ffffff;
    margin: 5px 0;
    transition: all 0.3s ease;
}


.hamburger.open span:nth-child(1) {
	transform: rotate(-45deg) translateY(11px); 
}

.hamburger.open span:nth-child(2) {
	opacity: 0;
    transform: scale(0.5);
}

.hamburger.open span:nth-child(3) {
	transform: rotate(45deg) translateY(-11px);
}

.menu {
    opacity: 0;
    position: fixed;
    visibility: hidden;
    top: 55px;
    right: 10px;
    width: 200px;
    backdrop-filter: blur(30px);
    z-index: 9999;
    padding: 10px 10px;
    border: 1px solid rgb(50, 50, 50);
    border-radius: var(--radius-normal);
    background: rgba(0, 5, 0, 0.3);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
	transition: opacity 0.3s ease, visibility 0s;
}

.menu a {
    display: block;
    text-decoration: none;
    color: white;
}

.menu.open {
    opacity: 1;
    visibility: visible;
	transition: opacity 0.3s ease, visibility 0s;
}

.tab-item {
    padding: 10px;
    border-bottom: 1px solid rgb(50, 50, 50);
    cursor: pointer;
}

.tab-item-bottom {
    padding: 10px;
    border: none;
    cursor: pointer;
}

@media (max-width: 525px) {
    .tabs {
        display: none;
    }

    .hamburger {
        display: unset;
    }
}

@media (min-width: 525px) {
	.menu {
        visibility: hidden;
	}
}

.tabs a {
    color: var(--text-color);
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.tabs a:hover {
    text-decoration: underline;
}

.tabs.active {
    font-weight: 900;
}

/* button sets */